.begin{
    display: flex;
    flex-direction: row;
    background-color: gray;
}
.log{
    background-color: black;

}
.information:hover{
    color: gray;
}
#work:hover{
    color: gray;
}
#test:hover{
    color: gray;
}
#end:hover{
    color:gray;
}
.main{
    background-color:lightgray;
}
.info{
    margin-left:10%;
    padding-top: 20px;
justify-content: center;
}

#pic{
    width: 300px;
    height: 300px;
    display: flex;
    float: right;
     padding-right: 10%;
     padding-bottom: 50px;
}
.hide{
    display: none;
}
.wel:hover + .hide{
    display: block;
    color: darksalmon;
}
.rest{
text-align: justify;
align-items: center;
}
/* .right{
    background-color: black;
    right: 0;
}
.centered{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.right{
    background-color: red;
    right: 0;
} */