/* .top{
    background-color:lightgrey;
} */
.first{
display: flex;
flex-direction: row;
background-color: gray;
}
#img1{
    padding-left: 200px;

}
#identity:hover{
color: lightgray;
}
.home:hover{
    color: lightyellow;
}
.work:hover{
 color: lightyellow;
}
.test:hover{
    color: lightyellow;
}
.endorsements:hover{
    color: lightyellow;
}
.contacts:hover{
    color: lightyellow;
}
.log{

    padding-top: 30px;
    padding-left: 40px;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color:gray;
    font-size:16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.log:hover{
    color: coral;
}
.input-div{
    width: 100px;
    height: 100px;
    
}
#id{
    width: 600px;
    height: 600px;
}
.experiences{
    align-items: center;
    display: block; 
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}
.trial{
    display: flex;
    flex-direction: row;
}
.try{
    display: flex;
    flex-direction: row;
}
.third{
    display: flex;
    flex-direction: row;
}
#web{
    /* margin-left:7%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/AI.jpg);
    background-size: contain;
    border-radius: 50px;
}
.soft{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/Arts.jpg);
    background-size: contain;
    border-radius: 50px;
}
.UI{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/START.jpg);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px;
}
.mobile{
    /* margin-left:7%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/WEBXR.jpg);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px;
}
.IT{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/images/img1.png);
    background-size: contain;
    padding-top: 20px;
     border-radius: 50px;
}
.security{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px;
}
.system{
    /* margin-left:7%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/images/img4.png);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px;
}
.engine{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/images/img1.png);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px;
}
.hard{
    /* margin-left:5%; */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    background-image: url(/html/img2.png);
    background-size: contain;
    padding-top: 20px;
    border-radius: 50px; 
}