/* .top{
    background-color:lightgrey;
} */
.first{
display: flex;
flex-direction: row;
background-color: gray;
}
#img1{
    padding-left: 200px;

}
#identity:hover{
color: lightgray;
}
.home:hover{
    color: lightyellow;
}
.work:hover{
 color: lightyellow;
}
.test:hover{
    color: lightyellow;
}
.endorsements:hover{
    color: lightyellow;
}
.contacts:hover{
    color: lightyellow;
}
.log{
    padding-top: 30px;
    padding-left: 40px;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color:gray;
    font-size:16px;
}
.log:hover{
    color: coral;
}
.input-div{
    width: 100px;
    height: 100px;
    
}
#id{
    width: 600px;
    height: 600px;
}
#experiences{
    align-items: center;
    display: block; 
}
.trial{
    display: flex;
    flex-direction: row;
}
.try{
    display: flex;
    flex-direction: row;
}
.third{
    display: flex;
    flex-direction: row;
}
#web{
    margin-left:7%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
}
.soft{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
}
.UI{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.mobile{
    margin-left:7%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.IT{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.security{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.system{
    margin-left:7%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.engine{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}
.hard{
    margin-left:5%;
    width: 600px;
    height: 500px;
    background-image: url(/html/web.jpg);
    background-size: contain;
    padding-top: 20px;
}