 body {
    height: 100vh;
    
}
.main-body{
     background-color: rgb(186, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

}


.breaks, .sessions{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#break-minus{
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow:0 0 1px black ;
    transition: .3s;
}

#break-minus:hover{
    background:black;
    color: white;
}

#break-plus{
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow:0 0 1px black ;
    transition: .3s;
}

#break-plus:hover{
    background:black;
    color: white;
}

.break-numbers, .session-numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

#session-minus, #session-plus{
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow:0 0 1px black ;
    transition: .3s;
}

#session-minus:hover{
    background: black;
    color: white;
}

#session-plus:hover{
    background: black;
    color: white;
}

#session-length{
    text-align: center;
}

