/* .avatar{
    width: 250px;
}
.cards{
    margin: 0 auto;
 padding: 20px; 
 display: flex;
 width:700px;
 justify-content:space-around;
 text-align: center;
 background: #ddebf8;
 border-bottom:6px solid #d8cefe;
}
.utility{
    border: 1px dotted blue;
    justify-content: space-around; 
    
} */
 body{
    color: white;
    background-image: url(/images/0005.jpg);
    background-size: cover;
 }