* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: block;
}

#Username {
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid black;
}

#password{
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid black;
}