.first{
display: flex;
flex-direction: row;
background-color: gray;
}
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left{
    left:0;
    background: color #111;;
}
.right{
    right: 0;
    background-color: coral;
}
.centered{
    position:absolute;
    top: 50%;
left: 50%;
text-align: center;
}
